  
body{
    background-image: url(red_space.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: fantasy;
}

h2{
    color: white;
}


h1{
    color: white;
    font-size: 5em;
}

nav{
    font-size: 1.5em;
}

html{
    color: white;
    margin-left: 50px;
}

/* unvisited link */
a:link {
    color: rgb(253, 253, 253);
  }
  
  /* visited link */
  a:visited {
    color: rgb(244, 248, 240);
  }
  
  /* selected link */
  a:active {
    color: white;
  }

  button{
      height: 25px;
      margin: 7px;
      border-radius: 25px;
      background-color: rgba(205, 92, 92, 0.322);
      border-color: black;
  }